/**
 Folha de estilo do site roboticapratica.com
 @author Professor José de Assis
 @link https://joseassis.com.br
*/

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");


/* variáveis globais */
:root {
    --cinzaLayout: #3c3c3c;
    --cinzaTexto: #434343;
    --brancoLayout: #ffffff;
    --backgroundCard: #f1f3f4;
    --bordaLayout: #a1a1a1;
    --AzulLayout: #0003c0;
    --vermelhoLayout: #FF0000;
    --AzulclaroLayout: #add8e6;
    --preto: #000000;
    --amarelolayout: #FFFF00;
    --verdelayout: #006400;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

#imagemSobre img{
    margin-right: 20px;
    border-radius: 200%;
    text-align: right;
    margin-left: 65px;
    
}


/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>> */
html {
    scroll-behavior: smooth;
}

    

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}


.Container {
    margin: 0 auto;
    padding: 40px 15px 50px 15px;
}


.Container2 {
    margin: 0 auto;
    padding: 5px 15px 50px 15px;
}

.Container3 {
    margin: 0 auto;
    padding: 25px 15px 50px 15px;


}


.Flex,
.FlexMenu {
    display: Flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
   
    
}

.Flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Flex2 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.FlexCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* cartão */
.Card {
    margin-top: 30px;
    width: 338px;
    height: 600px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--cinzaLayout);
    border-radius: 25px;
    text-align: center;
}


.Card img {
    border-radius: 25px 25px 0px 0px;
    width: 338px;
    height: 350px;
}

.Card h3 {
    margin: 15px 30px 0px 30px;
}

.Card p {
    padding: 10px 15px 50px 15px;
    text-align: left;
    color: var(--cinzaLayout);
}

.Button1 {
    text-decoration: none;
    background-color: var(--AzulLayout);
    color: var(--backgroundCard);
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Button2 {
    text-decoration: none;
    background-color: var(--AzulLayout);
    color: var(--backgroundCard);
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;




}

.Button3 {
    text-decoration: none;
    background-color: var(--AzulLayout);
    color: var(--backgroundCard);
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Topo */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone portrait >>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    height: 110px;
    background-color: #FFFF00;
    max-width: 100%;
}

#logo img {
    width: 96px;
    height: 96px;
    margin: 10px 0px 0px 0px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 25px;
    right: 3px;
    color: rgb(0, 0, 0);


}

nav ul {
    list-style: none;
    background-color: rgba(34, 34, 34, 0.80);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -70%;
    /*estratégia para recolher o menu*/
    width: 70%;
    transition: all 0.5s;
}

/* ativar o checkbox refernte a ul*/
#check:checked~ul {
    right: 0;
}

nav ul li {
    border-bottom: 0.5px solid var(--backgroundCard);
    text-align: right;
    padding: 15px;

}

nav ul li a {
    text-decoration: none;
    color: var(--backgroundCard)
}

/* banner */
main {
    background: url(img/amarelo.jfif);
    height: 50vh;
    background-size: cover;
    background-position: center;

}
.Flex .Container3 h1{
   font-style:oblique;
   font-size: 1em;
    margin-left: 240px;
    width: 100px;
   text-align:  left;
}

main h2 {
    color: var(--brancoLayout);
    text-align: center;


}






/* Rodapé */
footer {
    background-color: var(--amarelolayout);
    color: var(--preto);
    text-align: center;

}




main h1 {
    font-family: "orbitron", sans-serif;
    font-weight: 200vh;
    margin-bottom: 50px;
    color: var(--preto);
    



}

#social {
    margin-bottom: 25px;
}



#textoSobre h2 {
    margin: 50px 0px;
    font-size: 1.5em;
    font-weight:500;
}
 
#textoSobre h3 {  
    margin: 20px 0px;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 50%;
}
 
#textoSobre ol {
    margin-left: 20px;
}
 
#textoSobre h4 {
    margin-top: 10px;    
    font-weight: 500;
    font-size: 1em;
}



/* Smartphone landscape >>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .Container {
        max-width: 540px;
    }

    

    /* Cabeçalho */
    header {
        margin: 0 auto;
        max-width: 100%;
    }

    /* Banner e texto*/
    .Container2 {
        margin: 0 auto;
        padding: 5px 0px 50px 15px;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    /*banner*/
    main {
        height: 80vh;
        text-align: center;
    }

    main h1 {
        font-size: 2.0em;
        text-align: right;
    }

    main h2 {
        font-size: 2.0em;
        text-align: center;

    }

    /*rodape*/

    #social {
        margin: 0;
        
    }
}

/* Tablet portrait >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .Container {
        max-width: 720px;
    }

    /* Banner e texto*/
    .Container2 {
        margin: 0 auto;
        padding: 5px 15px 50px 15px;
    }

    .Flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main h1 {
        font-size: 5.0em;
    }

    /* Cabeçalho */
    header {
        margin: 0 auto;
        max-width: 100%;
    }

    label {
        font-size: 4em;
        top: 25px;
        right: 5px;
    }

    #logo img {
        width: 100px;
        height: 90px;
        margin: 10px 0px 0px 0px;
    }

    nav ul {
        top: 100px;
        right: -50%;
        width: 50%;
    }
}

/*banner*/
main h1 {
    font-size: 2em;
    font-weight: 600;





}

main h2 {
    display: block;
    font-size: 1, 5em;
    font-size: 1em;

}

.Container h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0003c0;

}

/* Tablet landscape >>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .Container {
        max-width: 960px;
    }

    /* Cabeçalho */
    header {
        margin: 0 auto;
        max-width: 100%;
    }

    /* Banner e texto*/
    .Container2 {
        margin: 0 auto;
        padding: 5px 15px 50px 15px;
    }

    .Flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* PCs ou notebooks HD >>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */

    .Flex .Container3 h1{
        font-style:oblique;
        font-size: 3.0em;
        margin-left: 400px;
        margin-top: -200px;
        text-align:  left;
     }

    .Container {
        max-width: 1140px;
    }

    .Container2 {
        margin: 0 auto;
        padding: 5px 15px 50px 15px;
    }

    .Container3 {
        margin: 0 auto;
        padding: 25px 15px 50px 700px;
    }

    .Flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 200px 15px 50px 15px;
        
    }
    .teste1{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 45px 15px 50px 15px;
        
    }

        

    /* Cabeçalho */
    header {
        max-width: 100%;
    }

    #logo img {
        width: 200px;
        height: 200px;
    }

    label {
        display: none;
    }

    nav ul {
        width: 100%;
        position: static;
        height: auto;
        background-color: var(--AzulLayout);
        margin-top: -10px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        color: var(--preto);
    }

    nav ul li a:hover {
        color: var(--vermelhoLayout)
    }

    /*banner*/
    main h1 {
        font-size: 3em;
        color: #000000;
        text-shadow: #f1f3f4;
        margin-top: -150px;



    }

    main h2 {
        font-size: 1.2em;
        text-align: right;
        text-shadow: #000 0.1em 0.2em 0.3em;
        text-align: center;


    }

}




/* PCs, notebooks ou Tv Full HD + >>>> */
@media (min-width: 1400px) {


    /* Cabeçalho */
    header {
        height: 150px;


    }

    #logo img {
        width: px;
        height: 150px;
        
    }
    
    .icones {
        width: px;
       
        
    }
}